<div class="lesson-card" [class.selected]="selected" role="button" tabindex="0">
  <div class="time-box">
    <span class="hour">{{ lesson.startTime | date: 'h:mm' }}</span>
    <span class="ampm">{{ lesson.startTime | date: 'a' }}</span>
  </div>
  <div class="details">
    <div class="title-row">
      <div class="title">{{ lesson.title }}</div>
      <span class="status-indicator" [class]="lesson.status"></span>
    </div>
    <div class="meta">{{ lesson.instructor.name }}</div>
  </div>
</div>