<div class="scheduling-container fade-in">
  <app-sectionheader [header]="header" [content]="content" [buttons]="buttons()"
    (buttonClicked)="handleButtonAction($event)" />

  <section class="widgets-grid">
    @for (widget of widgets(); track widget.title) {
    <app-stat-card [title]="widget.title" [data]="widget.data" [footer]="widget.footer" />
    }
  </section>

  <section class="questions-table pt-3">
    <app-table [columns]="tableColumns()" [data]="tableData()" [actions]="['edit']"
      [filterPlaceholder]="'Search schedule...'" (rowAction)="handleTableAction($event)"></app-table>
  </section>

  @if (tableData().length === 0) {
  <div class="no-data">
    <mat-icon>calendar_today</mat-icon>
    <p>No lessons found.</p>
  </div>
  }
</div>