<section>
  <app-sectionheader [header]="header" [content]="content" [buttons]="buttons()" (buttonClicked)="handleButtonAction($event)" />
</section>
<section class="widgets-grid">
  @for (widget of widgets(); track widget) {
    <app-stat-card [title]="widget.title" [data]="widget.data"
      [footer]="widget.footer" />
  }
</section>
<section class="material-table-section">
  <mat-card class="table-card">
    <mat-card-header class="table-header">
      <mat-card-title>Students List</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="table-content">
      <app-table [columns]="tableColumns()" [data]="tableData()" [actions]="tableActions()" [filterPlaceholder]="'Search students...'" (rowAction)="handleTableAction($event)"></app-table>
    </mat-card-content>
  </mat-card>
</section>