<section>
  <app-sectionheader [header]="header" [content]="content" [buttons]="buttons()" (buttonClicked)="handleButtonAction($event)" />
</section>
<section class="widgets-grid">
  @for (widget of widgets(); track widget) {
    <app-stat-card [title]="widget.title" [data]="widget.data"
      [footer]="widget.footer" />
  }
</section>
<section class="questions-table pt-3">
  <app-table [columns]="tableColumns()" [data]="tableData()" [actions]="tableActions()" [filterPlaceholder]="'Search questions...'" (rowAction)="handleTableAction($event)"></app-table>
</section>