<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="bg-secondary-subtle sidenav p-3 shadow-sm" [fixedInViewport]="true"
    [class.collapsed]="isSidenavCollapsed()">
    <div class="menu-header">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>{{isSidenavCollapsed() ? 'menu' : 'close'}}</mat-icon>
      </button>
    </div>
    @if (isLoggedIn()) {
      <mat-nav-list>
        @for (item of menuItems(); track item) {
          <div>
            <a mat-list-item [routerLink]="[item.toLowerCase()]" (click)="sidenavLink()">
              <mat-icon class="">{{icons()[item.toLowerCase()] || ''}}</mat-icon>
              @if (!isSidenavCollapsed()) {
                <span class="text-uppercase fw-bold menu-label"> {{item}}</span>
              }
            </a>
          </div>
        }
      </mat-nav-list>
    }
    @if (!isLoggedIn()) {
      <p>Log in to see menu</p>
    }
  </mat-sidenav>

  <mat-sidenav-content class="content" [class.collapsed-content]="isSidenavCollapsed()">
    @if (isLoggedIn()) {
      <ng-container class="content">
        <mat-toolbar class="floating-toolbar shadow-sm" color="primary">
          <span class="spacer"></span>
          <button mat-stroked-button class="mx-auto" (click)="onLogout()">
            Logout
          </button>
        </mat-toolbar>
        <div class="content-wrapper">
          <router-outlet />
        </div>
      </ng-container>
    }
  </mat-sidenav-content>
</mat-sidenav-container>